.fotogrids-collection[data-fg-hover='caption-typer'] .fg-caption-title {
	opacity: 0;
	transition: opacity 0.25s ease;
}
.fotogrids-collection[data-fg-hover='caption-typer'] .fg-caption-description {
	opacity: 0;
	transition: opacity 0.25s ease 0.15s;
}
.fotogrids-collection[data-fg-hover='caption-typer']
	.fg-item:hover
	.fg-caption-title,
.fotogrids-collection[data-fg-hover='caption-typer']
	.fg-item:hover
	.fg-caption-description {
	opacity: 1;
}
